.Card {
  height: auto;
  max-height: 150px;
  min-height: 120px;
  border-radius: 15px;
  width: 20%;
  cursor: pointer;
  margin: 1%;
  padding: 1%;
  background: #e8e8ff;
  box-shadow: -13px 9px 79px -34px rgba(186, 186, 186, 0.59);
  -webkit-box-shadow: -13px 9px 79px -34px rgba(186, 186, 186, 0.59);
  -moz-box-shadow: -13px 9px 79px -34px rgba(186, 186, 186, 0.59);

  transition: 600ms ease-in;
  &:hover {
    background: #ffe8fb;
    box-shadow: -13px 9px 79px -34px #ffe8fb;
    -webkit-box-shadow: -13px 9px 79px -34px #ffe8fb;
    -moz-box-shadow: -13px 9px 79px -34px #ffe8fb;
  }
  @media (max-width: 800px) {
    width: 25%;
  }
  @media (max-width: 600px) {
    width: 40%;
  }
  @media (max-width: 500px) {
    width: 90%;
  }
  &Top {
    height: 20%;
  }
  &Mid {
    height: 60%;
    color: #000;
    font-size: 15px;
    font-weight: bolder;
  }
  &Bottom {
    height: 20%;
  }
}
